.parent {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-auto-rows: 10vh 6vh 1fr;
    grid-template-columns: 16vw 1fr 16vw;
    width: 100%;
    height: 98%;
    grid-template-areas: 
    ". addInfomation ."
    "bills_patterns receitaDespesa_filtro ."
    ". ReceitaDespesas_table ."
    ;
    margin: auto auto -135px;
    justify-items: center;
}

.addInfomation {
    grid-area: addInfomation;
    margin: auto;

}

.receitaDespesa_filtro {
    grid-area: receitaDespesa_filtro;
    margin: auto;

}

.ReceitaDespesas_table {
    grid-area: ReceitaDespesas_table;
  
}

.bills_patterns {
    display: grid;
    grid-area: bills_patterns;
    height: 0vh;
    margin: auto;
    gap: 2vh;
    width: 12vw;
    justify-items: start;
    position: relative;
    bottom: 160px;
}

.input.input-bordered.w-full.max-w-xs.receitadespesaForm {

    width: 11vw;
    
}

.select.input-bordered.w-full.max-w-xs.receitadespesaForm {

    width: 11vw;
    
}

tr:hover {
    background-color: aliceblue;
}